<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\user\Trabajos\Admin Company Courses 0.01\AdminCompanyCourses\Capacitaciones Agrobolivar.jar</jar>
  <outfile>C:\Users\user\Trabajos\Admin Company Courses 0.01\AdminCompanyCourses\Capacitaciones Agrobolivar.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\user\Desktop\icono.ico</icon>
  <classPath>
    <mainClass>businessLogic.Main</mainClass>
    <cp>.</cp>
  </classPath>
  <jre>
    <path>C:\Program Files (x86)\Java\jre1.8.0_361</path>
    <requiresJdk>true</requiresJdk>
    <requires64Bit>true</requires64Bit>
    <minVersion>1.8</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>